.box
{
    height: 100px;
    width: 100px;
    border: 2px double red;
    background: linear-gradient(yellow,orange);
    
    
    animation-name: tran-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes tran_anim {

    from{
        transform: translate(100px,100px)
        rotate(20deg);
    }
    to{
        transform: translate(500px,500px)
        rotate(360deg);
    }
}
@keyframes scale_anim{

    from{
        transform: scale(1);
    }
    to{
        transform: scale(2.5);
    }
}
@keyframes skew_anim {
       from{
        transform: skew(20deg);
       }
       to{
         transform: skew(360deg);
       }
}
@keyframes rotate_anim {
    transform: rotate(20deg);
       
       to{
        transform: rotate(360deg);
       }
         
       
        
}